<div id="guestNavMenu" class="menu">
	<ul id="guestMenu">
		<li>Home</li>
		<li class="ui-state-disabled">Precheck</li>
		<li class="ui-state-disabled">Tech Tracker</li>
		<li class="ui-state-disabled">Post-Activation</li>
		<br>
		<li class="ui-state-disabled">EON</li>
		<li class="ui-state-disabled">QMS</li>
		<li class="ui-state-disabled">Pipeline</li>
	</ul>
</div>

<div id="guestTabs" class="tabs">
	<ul>
		<li><a href="#guest-1"><span id="guest-1-span">Log In</span></a></li>
	</ul>
		<div id="guest-1">
				<form>
					<label for="username">Username: </label>
					<input type="text" id="username" name="username">
					<label for="password">Password: </label>
					<input type="password" id="password" name="password">
					<button id="loginButton">Login</button>
				</form>
		</div>
</div>

<div id="techNavMenu" class="menu">
	<ul id="techMenu">
		<li>Home</li>
		<li>Precheck</li>
		<li>Tech Tracker</li>
		<li>Post-Activation</li>
		<br>
		<li>EON</li>
		<li>QMS</li>
		<li>Pipeline</li>
	</ul>
</div>

<div id="techTabs" class="tabs">
	<ul>
		<li><a href="#home-1"><span id="home-1-span">News Feed</span></a></li>
		<li><a href="#home-2"><span id="home-2-span">Wiki</span></a></li>
		<li><a href="#home-3"><span id="home-3-span">Contact Lists</span></a></li>
	</ul>
	<div id="home-1">News Feed, Coming Soon!</div>
	<div id="home-2">Wiki Access, Coming Soon!</div>
	<div id="home-3">Contact Lists, Coming Soon!</div>
</div>
